body {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0;
  letter-spacing: .05em;
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1180px;
  display: inline;
}

header {
  width: 100%;
  position: fixed;
  background-color: rgba(5, 5, 5, 0.8);
  z-index: 100;
}

header nav {
  max-width: 410px;
  float: right;
  margin: 20px;
}

header h1 {
  font-weight: 200;
  float: left;
  color: #94a4a4;
  margin: 20px;
}

header nav ul{
  list-style: none;
  margin: 0 auto;
  list-style: none;
}

header nav li {
  margin-top: 9px;
  float: left;
  padding-left: 21px;
}

header nav li a {
  color: #94a4a4;
  opacity: 1;
  font-size: 1.75rem;
  text-decoration: none;
}

header nav li a:hover {
  color: #94a4a4;
  opacity: 1;
  text-decoration: none;
}

h3 {
  text-align: center;
  margin: 5px 0;
  padding: 0;
}

h5 {
  text-align: center;
  margin: 20px;
  padding: 0;
}

.section__header {
  font-weight: normal;
  font-size: 2.75rem;
  text-align: center;
  margin: 0 auto 35px;
}

.about_container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

#about {
  background: url('../images/13606918_10154440087870337_7262751828488941842_n.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  margin: 0 auto;
  padding: 200px 0;
  background-size: cover;
  filter: brightness(90%);
}

.about__link {
  color: #fff;
  text-decoration: underline;
}

.about__link:visited {
  color: #fff;
}

.about__link:hover {
  color: #fff;
}

#projects {
  background-color: #fff;
  color: #94a4a4;
  margin: 40px auto;
}

.projects_container {
  margin: 0 auto;
  height: 100%;
}

.pix {
  margin: 0px;
  padding: 0;
}

.rwd-line2 {
  display: none;
}

.project__link {
  color: #94a4a4;
  height: 100%;
  margin: 0 auto;
}

.project__link p {
  width: 75%;
  margin: 0 auto;
}

.project__link p:last-of-type {
  margin-top: 20px;
}

.project__link:visited {
  color: #94a4a4;
  text-decoration: none;
}

.project__link:hover {
  color: #94a4a4;
  text-decoration: none;
}

.project__img {
  width: 85%;
  margin: 0;
}

#resume {
  background: url('../images/13606918_10154440087870337_7262751828488941842_n.jpg') 50% 0 no-repeat fixed;
  color: #fff;
  height: 700px;
  padding: 25px 0 0 0;
  background-size: cover;
  filter: brightness(90%);
}

.resume_container {
  width: 100%;
  max-width: 900px;
  height: 90%;
  margin: 0 auto;
}

.resume__link {
  color: #fff;
}

.resume__link:visited {
  text-decoration: none;
  color: #fff;
}

.resume__link:hover {
  text-decoration: none;
  color: #fff;
}

.resume {
  width: 100%;
  height: 90%;
  margin: 0 auto;
}

#contact{
  background-color: #fff;
  color: #94a4a4;
  padding: 100px 0;
  text-align: center;
}

.contact_container {
  height: 100%;
}

.rwd-line {
  display: none;
}

.contact__link {
  color: #94a4a4;
  font-size: 1.75rem;
  text-decoration: none;
  justify-content: center;
  margin-right: 10px;
}

.contact__link:visited {
  text-decoration: none;
  color: #94a4a4;
}

.contact__link:hover {
  text-decoration: none;
  color: #94a4a4;
}

.mail {
  max-width: 32px;
  max-height: 32px;
  color: #94a4a4;
}

.github {
  max-width: 23px;
  max-height: 23px;
  color: #94a4a4;
}

.linked {
  max-width: 23px;
  max-height: 23px;
  color: #94a4a4;
  padding-bottom: 5px;
}

.links {
}

.copyright {
  color: #94a4a4;
  font-size: 1.25rem;
  margin-top: 50px;
  text-align: center;
}

.copyright a {
  text-decoration: none;
  color: #94a4a4;
}

/*MEDIA QUERIES*/

/*tablets*/

@media screen and (max-width: 768px) {
  header nav {
    float: none;
    clear: left;
    width: 100%;
    margin: 0 auto;
  }

  header nav ul {
    margin: 0;
    padding: 0;
  }

  header h1 {
    margin: 10px auto 0;
    float: none;
    text-align: center;
  }

  header nav ul li {
    margin: 10px 0;
    width: 25%;
    padding: 0;
    text-align: center;
  }

  #about {
    color: #555F61;
    font-weight: bolder;
  }

  .about__link {
    color: #555F61;
    font-weight: bolder;
  }

  .about_container {
    max-width: 600px;
    text-align: center;
  }

  .pix {
    margin: 60px 0;
  }

  .project__link p:last-of-type {
    margin-bottom: 50px;
  }

  .resume_container {
    width: 85%;
  }

  #resume .section__header {
    color: #555F61;
  }

  .resume_container p a{
    color: #555F61;
    font-weight: bolder;
  }



}

/*mobiles*/

@media screen and (max-width: 480px) {
  .rwd-line {
    display: inline;
  }

  #about {
    color: #555F61;
    font-weight: bolder;
  }

  .about_container {
    max-width: 300px;
  }

  .about__link {
    color: #555F61;
    font-weight: bolder;
  }

  #resume .section__header {
    color: #555F61;
  }

  .resume_container p a {
    color: #555F61;
    font-weight: bolder;
  }


  .contact__link {
    display: block;
    padding: 0;
    margin: 0;
  }
}











// $icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// // bower:scss
 @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
 // endbower
//
// .browsehappy {
//   margin: 0.2em 0;
//   background: #ccc;
//   color: #000;
//   padding: 0.2em 0;
// }
//
// body {
//   padding: 0;
// }
//
// /* Everything but the jumbotron gets side spacing for mobile first views */
// .header,
// .marketing,
// .footer {
//   padding-left: 15px;
//   padding-right: 15px;
// }
//
// /* Custom page header */
// .header {
//   border-bottom: 1px solid #e5e5e5;
//   margin-bottom: 10px;
//
//   /* Make the masthead heading the same height as the navigation */
//   h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
//   }
// }
//
// /* Custom page footer */
// .footer {
//   padding-top: 19px;
//   color: #777;
//   border-top: 1px solid #e5e5e5;
// }
//
// .container-narrow > hr {
//   margin: 30px 0;
// }
//
// /* Main marketing message and sign up button */
// .jumbotron {
//   text-align: center;
//   border-bottom: 1px solid #e5e5e5;
//
//   .btn {
//     font-size: 21px;
//     padding: 14px 24px;
//   }
// }
//
// /* Supporting marketing content */
// .marketing {
//   margin: 40px 0;
//
//   p + h4 {
//     margin-top: 28px;
//   }
// }
//
// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 730px;
//   }
//
//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }
